* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Fonts */

@font-face {
  font-family: "Helvetica";
  src: url("fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Oblique";
  src: url("fonts/Helvetica-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Bold-Oblique";
  src: url("fonts/Helvetica-BoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("fonts/helvetica_light.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Light-Oblique";
  src: url("fonts/Helvetica-LightOblique.ttf") format("truetype");
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica" !important;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

#version-number {
  position: absolute;
  z-index: 200;
  right: 2%;
  top: 2%;
  color: white;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

#titleBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  height: 40px;
  text-align: center;
}

.mobile #titleBar {
  height: 50px;
  right: 50px;
}

/* If there is a fullscreen button the title bar must make space for it */
body.fullscreen-enabled #titleBar {
  right: 80px;
}

body.fullscreen-enabled.mobile #titleBar {
  right: 100px;
}

/* If there are multiple scenes the title bar must make space for the scene list toggle */
body.multiple-scenes #titleBar {
  left: 40px;
}

body.multiple-scenes.mobile #titleBar {
  left: 50px;
}

#titleBar .sceneName {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 5px;
  background-color: rgb(58, 68, 84);
  background-color: rgba(58, 68, 84, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.mobile #titleBar .sceneName {
  line-height: 40px;
}

#fullscreenToggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  top: 15%;
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
}

.mobile #fullscreenToggle {
  width: 50px;
  height: 50px;
}

body.fullscreen-enabled #fullscreenToggle {
  display: block;
}

#fullscreenToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #fullscreenToggle .icon {
  top: 10px;
  right: 10px;
}

#fullscreenToggle .icon.on {
  display: none;
}

#fullscreenToggle .icon.off {
  display: block;
}

#fullscreenToggle.enabled .icon.on {
  display: block;
}

#fullscreenToggle.enabled .icon.off {
  display: none;
}

#autorotateToggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
}

.mobile #autorotateToggle {
  width: 50px;
  height: 50px;
}

/* If there is a fullscreen button, autorotate must placed a bit to the left */
body.fullscreen-enabled #autorotateToggle {
  right: 40px;
}

body.fullscreen-enabled.mobile #autorotateToggle {
  right: 50px;
}

#autorotateToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #autorotateToggle .icon {
  top: 10px;
  right: 10px;
}

#autorotateToggle .icon.on {
  display: none;
}

#autorotateToggle .icon.off {
  display: block;
}

#autorotateToggle.enabled .icon.on {
  display: block;
}

#autorotateToggle.enabled .icon.off {
  display: none;
}

#sceneListToggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
}

.mobile #sceneListToggle {
  width: 50px;
  height: 50px;
}

#sceneListToggle .text {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 100%;
  line-height: 30px;
}

#sceneListToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #sceneListToggle .icon {
  top: 10px;
  right: 10px;
}

#sceneListToggle .icon.on {
  display: none;
}

#sceneListToggle .icon.off {
  display: block;
}

#sceneListToggle.enabled .icon.on {
  display: block;
}

#sceneListToggle.enabled .icon.off {
  display: none;
}

/* #sceneList {
  position: absolute;
  top: 0;
  left: -220px;
  padding-top: 40px;
  width: 220px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
} */

.mobile #sceneList {
  padding-top: 50px;
}

#sceneList .scenes {
  width: 100%;
  background-color: rgb(58, 68, 84);
  background-color: rgba(58, 68, 84, 0.8);
}

.mobile #sceneList {
  width: 100%;
  height: 100%;
  left: -100%;
}

.mobile #sceneList.enabled {
  margin-left: 100%;
}

.mobile #sceneList .scenes {
  height: 100%;
}

#sceneList.enabled {
  margin-left: 220px;
}

#sceneList .scene {
  display: block;
  width: 100%;
  height: 30px;
}

.mobile #sceneList .scene {
  height: 40px;
}

#sceneList .scene .text {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile #sceneList .scene .text {
  line-height: 40px;
}

.no-touch #sceneList .scene:hover {
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
}

#sceneList .scene.current {
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
}

/* Hide scene list when only a single scene exists */
body.single-scene #sceneList,
body.single-scene #sceneListToggle {
  display: none;
}

/* Link hotspot */

.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 70px;
  height: 70px;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */

  margin-left: 3px;

  font-size: 16px;

  max-width: 300px;

  padding: 8px 10px;

  border-radius: 5px;

  background-color: rgb(58, 68, 84);
  background-color: rgba(58, 68, 84, 0.8);

  color: #fff;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer;

  opacity: 0;

  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s,
    opacity 0.3s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s,
    opacity 0.3s;
}

.mobile .link-hotspot {
  top: 19px; /* ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot */

.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(103, 115, 131);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s,
    border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.desktop.no-touch .info-hotspot .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.desktop .info-hotspot.visible .info-hotspot-header,
.desktop.no-touch .info-hotspot.visible .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.info-hotspot .info-hotspot-icon-wrapper {
  width: 40px;
  height: 40px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot .info-hotspot-title-wrapper {
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s, padding 0s 0.4s;
  transition: width 0s 0.4s, padding 0s 0.4s;
}

.desktop .info-hotspot.visible .info-hotspot-title-wrapper,
.desktop.no-touch
  .info-hotspot
  .info-hotspot-header:hover
  .info-hotspot-title-wrapper {
  width: 220px;
  padding: 0 5px;
  -webkit-transition: width 0s 0.4s, padding 0s 0.4s;
  transition: width 0s 0.4s, padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-close-wrapper {
  position: absolute;
  left: 260px;
  top: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 5px;
  background-color: rgb(78, 88, 104);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s,
    transform 0.3s 0.3s, visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s,
    transform 0.3s 0.3s, visibility 0s 0.6s;
}

.desktop .info-hotspot.visible .info-hotspot-close-wrapper {
  visibility: visible;
  -ms-transform: perspective(200px) rotateY(0deg);
  -webkit-transform: perspective(200px) rotateY(0deg);
  transform: perspective(200px) rotateY(0deg);
  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s,
    visibility 0s 0s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s,
    visibility 0s 0s;
}

.info-hotspot .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-text {
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 200px;
  top: 40px;
  left: 0;
  padding: 10px;
  background-color: rgb(58, 68, 84);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s,
    visibility 0s 0.3s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s,
    visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.desktop .info-hotspot.visible .info-hotspot-text {
  visibility: visible;
  -ms-transform: perspective(200px) rotateX(0deg);
  -webkit-transform: perspective(200px) rotateX(0deg);
  transform: perspective(200px) rotateX(0deg);
  -webkit-transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s,
    transform 0.3s 0.3s, visibility 0s 0s;
  transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s,
    transform 0.3s 0.3s, visibility 0s 0s;
}

/* Info hotspot modal */

.desktop .info-hotspot-modal {
  display: none;
}

.info-hotspot-modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0s 0s;
  transition: opacity 0.2s ease-in-out, visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  width: auto;
  height: 50px;
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot-modal .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(78, 88, 104);
  background-color: rgba(78, 88, 104, 0.8);
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot-modal .info-hotspot-text {
  position: absolute;
  top: 110px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgb(58, 68, 84);
  background-color: rgba(58, 68, 84, 0.8);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal.visible .info-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

/* View control buttons */

.viewControlButton {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
}

body.view-control-buttons .viewControlButton {
  display: block;
}

/* Hide controls when width is too small */
@media (max-width: 600px) {
  body.view-control-buttons .viewControlButton {
    display: none;
  }
}

.viewControlButton .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

/* Center is at margin-left: -20px */
.viewControlButton-1 {
  margin-left: -145px;
}
.viewControlButton-2 {
  margin-left: -95px;
}
.viewControlButton-3 {
  margin-left: -45px;
}
.viewControlButton-4 {
  margin-left: 5px;
}
.viewControlButton-5 {
  margin-left: 55px;
}
.viewControlButton-6 {
  margin-left: 105px;
}

/* Static Icon Style */
#static-bar {
  position: absolute;
  bottom: 0%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 97, 0, 0.8),
    rgba(255, 255, 255, 0.8) 67%
  );
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 0.4vh solid white;
  padding: 3vh 9vh;
  opacity: 0;
}

#scene-details {
  width: 45%;
}

#scene-name {
  font-size: 2.5vh;
  text-transform: uppercase;
  padding-bottom: 1vh;
  margin: 0;
  font-family: "Helvetica-Bold";
}

#scene-description {
  font-size: 2vh;
  line-height: 2.5vh;
  font-weight: 100;
  width: 85%;
  font-family: "Helvetica-Light";
  margin: 0;
  white-space: pre-line;
}

.italic {
  font-family: "Helvetica-Oblique";
}

.italic-light {
  font-family: "Helvetica-Light-Oblique";
}

.italic-bold {
  font-family: "Helvetica-Bold-Oblique";
}

.back-to-corridor {
  background-image: url("img/common_UI/back_to_corridor.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 24vh;
  height: 5.5vh;
}

.back-to-corridor:hover {
  background-image: url("img/common_UI/back_to_corridor_onHover.png");
}

#xray-popup-overlay .back-to-corridor {
  width: 24vh;
  height: 5.5vh;
  cursor: pointer;
  background-image: url("img/common_UI/back_to_corridor.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9;
  bottom: 2%;
  left: 2%;
}

#xray-popup-overlay .back-to-corridor:hover {
  background-image: url("img/common_UI/back_to_corridor_onHover.png");
}

#zoom-in {
  background-image: url("img/common_UI/zoom_in_icon.png");
}

#zoom-in:hover {
  background-image: url("img/common_UI/zoom_in_icon_hover.png");
}

#zoom-out {
  background-image: url("img/common_UI/zoom_out_icon.png");
}

#zoom-out:hover {
  background-image: url("img/common_UI/zoom_out_icon_hover.png");
}

#sound {
  background-image: url("img/common_UI/unmute_icon.png");
}

#fullscreen {
  background-image: url("img/common_UI/fullscreen_icon.png");
}

#info {
  background-image: url("img/common_UI/info_icon.png");
}

#info:hover {
  background-image: url("img/common_UI/info_icon_hover.png");
}

#small-icons-container {
  display: flex;
}

.small-icons {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0 1.5vh;
}

.next-btn:hover {
  background-image: url("img/common_UI/next_room_hover.png");
}

.next-btn {
  background-image: url("img/common_UI/next_room.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#xray-popup-overlay .next-btn {
  background-image: url("img/common_UI/next_room.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  width: 24vh;
  height: 5.5vh;
  z-index: 9;
  bottom: 2%;
  right: 2%;
}

#xray-popup-overlay .next-btn:hover {
  background-image: url("img/common_UI/next_room_hover.png");
}

#arrow-keys-container {
  position: absolute;
  left: 40%;
}

/* Animation */
@keyframes bouncing-effect-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  33% {
    opacity: 0.7;
    transform: translateY(-40px);
  }
  66% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}

@keyframes bouncing-effect-out {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-40px);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
  }
}

#popup-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 40, 0, 0.5);
  z-index: 9;
  display: none;
}

#xray-popup-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 40, 0, 0.5);
  z-index: 9;
  display: none;
}

.popup-windows {
  border: 1.5vh solid #003700;
}

/* Text popup container styling */
#text-popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 75vw;
  max-width: 169.78vh;
  max-height: 100vh;
  height: 80%;
  opacity: 1;
  display: none;
  z-index: 10;
  background-color: white;
}

#text-popup-content {
  width: 120vh;
  margin: 0 auto;
  margin-top: 10vh;
  font-family: "Helvetica";
}

#text-popup-close-btn {
  width: 3%;
  height: 5%;
  background-image: url("img/common_UI/closeDark_popUp_btn.png");
  z-index: 4;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 5%;
  right: 3%;
}

#text-popup-title {
  color: black;
  text-align: center;
  font-family: "Helvetica-Bold";
}

#text-popup-text {
  color: black;
}

#text-popup-text p {
  padding-top: 2vh 0;
}

/* Image popup styling */
#image-popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 153vh;
  /* max-width: 169.78vh; */
  max-height: 100vh;
  height: 80%;
  opacity: 1;
  z-index: 10;
  display: none;
  background-color: white;
}

#image-popup-close-btn {
  width: 3%;
  height: 5%;
  background-image: url("img/common_UI/closeDark_popUp_btn.png");
  z-index: 4;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 5%;
  right: 3%;
}

#image-popup-content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Helvetica";
}

#image-popup-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-display {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#image-popup-fullscreen-text {
  text-align: center;
}

#image-popup-image-details {
  width: 40%;
  margin-left: 2.5vh;
}

#image-popup-image {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

#image-popup-title {
  font-family: "Helvetica-Bold";
}

/* #image-popup-description p,
#video-popup-description p,
#multi-image-popup-description p {
  padding-top: 0.8em;
} */
#video-popup-description p {
  margin: 2vh 0;
}

#fullscreen-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 20;
  background-color: rgb(247, 255, 255);
  display: none;
}

/* #fullscreen-img {
  width: 100%;
  height: 100%;
  background-image: url("img/hotspot-img/field/7\ Field\ Op\ 1.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
} */

#fullscreen-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 100%;
  object-fit: contain;
}

/* video popup styling */
#video-popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 153vh;
  max-width: 169.78vh;
  max-height: 100vh;
  height: 80%;
  opacity: 1;
  z-index: 10;
  display: none;
  background-color: white;
  --plyr-color-main: #5bba34;
}

#video-popup-close-btn {
  width: 3%;
  height: 5%;
  background-image: url("img/common_UI/closeDark_popUp_btn.png");
  z-index: 4;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 5%;
  right: 3%;
}

#video-popup-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-container {
  width: 70%;
}

#video-container video {
  width: 100%;
}

#video-popup-details {
  width: 30%;
  margin-left: 3vh;
  font-family: "Helvetica";
}

#video-popup-title {
  color: black;
  margin: 2vh 0;
  font-family: "Helvetica-Bold";
}

#video-popup-description {
  color: black;
}

#info-popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 153vh;
  max-width: 169.78vh;
  max-height: 100vh;
  height: 80%;
  background-color: beige;
  opacity: 1;
  z-index: 10;
  display: none;
}

#info-popup-close-btn {
  width: 3%;
  height: 5%;
  background-image: url("img/common_UI/closeDark_popUp_btn.png");
  z-index: 4;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 3%;
  right: 3%;
}

#info-popup-content {
  width: 90%;
  margin: auto;
  color: black;
  text-align: center;
}

#info-popup-title {
  font-family: "Helvetica-Bold";
}

/* Xray popup styling */
#xray-popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 153vh;
  /* max-width: 169.78vh; */
  max-height: 100vh;
  height: 80%;
  opacity: 1;
  z-index: 10;
  display: none;
  background-color: white;
}

#xray-popup-close-btn {
  width: 3%;
  height: 5%;
  background-image: url("img/common_UI/closeDark_popUp_btn.png");
  z-index: 4;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 5%;
  right: 3%;
}

#xray-popup-content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#xray-popup-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xray-image-display {
  width: 100%;
  height: 100%;
}

#xray-popup-image-details {
  width: 30%;
  margin-left: 3vh;
}

#xray-popup-image {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  --plyr-color-main: #5bba34;
}

#xray-popup-title {
  font-size: 4vh;
  font-weight: bold;
  font-family: "Helvetica-Bold";
}

#xray-popup-description {
  font-size: 2vh;
  line-height: 3vh;
  padding: 3vh 0;
}

#xray-player {
  display: none;
}

#xray-bg-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#continue-btn {
  cursor: pointer;
  background-image: url("img/common_UI/continue_btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24vh;
  height: 5.2vh;
}

#continue-btn:hover {
  background-image: url("img/common_UI/continue_btn_onHover.png");
}

/* Multi image popup container */
#multi-image-popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 153vh;
  max-width: 169.78vh;
  max-height: 100vh;
  height: 80%;
  opacity: 1;
  z-index: 10;
  background-color: white;
  display: none;
}

#multi-image-popup-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 4vh;
}

#multi-image-popup-details {
  width: 30%;
  margin-left: 3vh;
}

#multi-image-popup-close-btn {
  width: 3%;
  height: 5%;
  background-image: url("img/common_UI/closeDark_popUp_btn.png");
  z-index: 4;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 3%;
  right: 2%;
}

#multi-image-popup-title {
  font-size: 4vh;
  font-family: "Helvetica-Bold";
  display: none;
}

#multi-image-popup-description {
  font-size: 2vh;
  line-height: 3vh;
}

/* #multi-image-popup-description p {
  margin: 1vh;
} */

.popup-swiper {
  width: 70%;
  height: 80%;
}

.popup-swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95% !important;
  --plyr-color-main: #5bba34;
}

/* Portrait Message */
#portrait-overlay {
  width: 100%;
  height: 100%;
  background-image: url("img/mobile-portrait/mobile-portrait-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: absolute;
  top: 0;
  z-index: 101;
}

#portrait-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

#portrait-icon {
  margin: 0 auto;
  background-image: url("img/mobile-portrait/mobile-portrait-icon.png");
  width: 25vh;
  height: 15vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#portrait-description {
  color: white;
  font-size: 2vh;
  line-height: 2.2vh;
  font-family: "Helvetica-Bold";
}

#xray-video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
  top: 0;
  display: none;
  --plyr-color-main: #5bba34;
  background-image: url("img/hotspot-img/xrayRoom/xray_bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* pulsating effect on info hotspot */
@keyframes info-icon-pulsating-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* responsive text */
/* Formula: vw = (vh / 1.6) * 0.9 */
@media screen and (min-aspect-ratio: 16/9) {
  .info-icon {
    width: 5vh;
    height: 5vh;
    animation: info-icon-pulsating-effect 2s infinite;
  }

  .small-icons {
    width: 3.5vh;
    height: 3.5vh;
  }

  .next-btn {
    width: 24vh;
    height: 5.5vh;
  }

  #info-popup-content {
    padding: 10vh 2vh 0 2vh;
  }

  #info-popup-details {
    font-size: 2vh;
    line-height: 3vh;
  }

  #info-popup-title {
    font-size: 5vh;
  }

  #text-popup-title {
    font-size: 6vh;
  }

  #text-popup-text {
    font-size: 2.5vh;
    line-height: 3.8vh;
  }

  #image-popup-fullscreen-text {
    font-size: 2vh;
  }

  #image-popup-title {
    font-size: 5vh;
  }

  #image-popup-description {
    font-size: 2vh;
    line-height: 3vh;
  }

  #video-popup-title {
    font-size: 5vh;
  }

  #video-popup-description {
    font-size: 2vh;
    line-height: 3vh;
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  .info-icon {
    width: 2.813vw;
    height: 2.813vw;
  }

  #static-bar {
    padding: 1.688vw 5.063vw;
  }

  #scene-name {
    font-size: 1.406vw;
  }

  #scene-description {
    font-size: 1.125vw;
    line-height: 1.406vw;
  }

  #small-icons-container {
    display: flex;
  }

  .small-icons {
    width: 1.969vw;
    height: 1.969vw;
    margin: 0 0.844vw;
  }

  .back-to-corridor {
    width: 13.5vw;
    height: 3.094vw;
  }

  .next-btn {
    width: 13.5vw;
    height: 3.094vw;
  }

  #text-popup-text p {
    padding-top: 1.125vw 0;
  }

  #text-popup-content {
    margin-top: 5.625vw;
    width: 67.5vw;
  }

  #continue-btn {
    width: 13.5vw;
    height: 2.925vw;
  }

  #xray-popup-description {
    font-size: 1.125vw;
    line-height: 1.688vw;
    padding: 1.688vw 0;
  }

  #info-popup-content {
    padding: 5.625vw 1.125vw 0 1.125vw;
  }

  #info-popup-details {
    font-size: 1.125vw;
    line-height: 1.69vw;
  }

  #info-popup-title {
    font-size: 2.813vw;
  }

  #xray-room-info {
    padding-top: 4.5vw;
  }

  #text-popup-title {
    font-size: 3.375vw;
  }

  #text-popup-text {
    font-size: 1.406vw;
    line-height: 2.138vw;
  }

  #image-popup-container,
  #video-popup-container,
  #info-popup-container {
    width: 86.06vw;
  }

  #xray-popup-container {
    width: 86.06vw;
  }

  #xray-popup-title {
    font-size: 2.25vw;
  }

  #image-popup-image-details {
    margin-left: 1.406vw;
  }

  #image-popup-fullscreen-text {
    font-size: 1.125vw;
  }

  #image-popup-title {
    font-size: 2.813vw;
  }

  #image-popup-description {
    font-size: 1.125vw;
    line-height: 1.688vw;
  }

  #multi-image-popup-details {
    margin-left: 1.6875vw;
  }

  #video-popup-title {
    font-size: 2.813vw;
    margin: 1.125vw 0;
  }

  #video-popup-description {
    font-size: 1.125vw;
    line-height: 1.688vw;
  }

  #video-popup-details {
    margin-left: 1.688vw;
  }

  #multi-image-popup-title {
    font-size: 2.25vw;
  }

  #multi-image-popup-description {
    font-size: 1.125vw;
    line-height: 1.6875vw;
  }

  #multi-image-popup-description p {
    margin: 0.563vw;
  }

  .popup-windows {
    border: 0.844vw solid #003700;
  }
}

/* ====================== Corridor Page Styles ====================== */
#corridor-page {
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  /* display: none; */
}

#reference_vh {
  height: 100vh;
  position: absolute;
  pointer-events: none;
}

/* #corridor_background {
  background: url("img/BG_img/BG_Corridor_New.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
} */

#corridor_background {
  background: url("img/BG_img/BG_Corridor_New.jpg") no-repeat 30% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  pointer-events: none;
}

#text-container {
  position: absolute;
  width: 55vh;
  height: 100%;
  color: white;
}

#greenGradient_overlay {
  background: linear-gradient(to right, #019700 30%, transparent);
  opacity: 0.8;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 33.5%;
  height: 100%;
  top: 0;
  z-index: 1;
  /* background-color: tomato; */
}

#text-title {
  padding: 0;
  /* line-height: 0vh; */
  font-family: "Helvetica-Bold";
}

#text-title p {
  margin: 0;
}

#text-details {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: 5vh;
  transform: translateY(-50%);
  width: 45vh;
  /* background-color: aqua; */
  /* opacity: 0.5; */
  height: 44%;
}

/* 
#text-details h5 {
    font-size: 2.1vh;
    margin-top: 0;
    margin-bottom: 2vh;
} */

#back-to-home {
  background-image: url("img/common_UI/return_to_home.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  width: 22vh;
  height: 6vh;
  margin-top: 3.8vh;
}

#back-to-home:hover {
  background-image: url("img/common_UI/return_to_home_onHover.png");
}

#arrow-left {
  background-image: url("img/common_UI/Arrow\ Left_White.png");
  width: 11%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  /* top: 27%; */
  background-position: left center;
  /* background-color: aqua; */
  left: 8%;
}

/* .swiper-container {
    width: 60%;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
} */

.swiper-container-corridor {
  width: 60%;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  /* background-color: antiquewhite; */
  height: 100%;
  /* top: 0%; */
  z-index: 8;
  /* top: 26%; */
}

.swiper-wrapper-corridor {
  position: relative;
  width: 100%;
  height: 69%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  top: 13.5%;
}

.slider-img {
  width: 100%;
  height: 69%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-text {
  color: black;
  background-color: white;
  padding-top: 2.4vh;
  padding-left: 3vh;
  height: 31%;
}

.slider-text h4 {
  font-family: "Helvetica-Bold";
  margin: 0;
  text-transform: uppercase;
}

.slider-text p {
  white-space: pre-line;
}

.explore-btn {
  display: flex;
  align-items: center;
  width: 11%;
  height: 4%;
  top: 93%;
  position: absolute;
  background-image: url("img/common_UI/explore-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-slide-corridor:hover .explore-btn {
  background-image: url("img/common_UI/explore-btn_onHover.png");
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #5bba34;
  color: white;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  outline: none;
  transform: translateY(-50%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 3vh !important;
}

.swiper-pagination-corridor * {
  font-size: 2vh;
  color: black;
  font-family: "Helvetica-Oblique";
}

/* Portrait Message */
/* #portrait-overlay {
  width: 100%;
  height: 100%;
  background-image: url("img/mobile-portrait//mobile-portrait-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: absolute;
  top: 0;
  z-index: 100;
}

#portrait-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

#portrait-icon {
  margin: 0 auto;
  background-image: url("img/mobile-portrait/mobile-portrait-icon.png");
  width: 25vh;
  height: 15vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#portrait-description {
  color: white;
  font-size: 2vh;
  line-height: 2.2vh;
} */

@media all and (orientation: landscape) {
  #portrait-overlay {
    display: none;
  }
}

@media all and (orientation: portrait) {
  #portrait-overlay {
    display: block;
  }
}

/* Responsive */

.swiper-container {
  /* width: 130vh; */
  /* padding: 4vh 2vh; */
}

.swiper-slide-corridor {
  width: 37.5% !important;
  height: 100%;
  margin: 0% 1.5% !important;
  cursor: pointer;
}

.swiper-scrollbar-drag {
  background: rgb(255, 255, 255);
  height: 1vh;
  top: -2px;
  border-radius: 0% !important;
}

.swiper-scrollbar {
  background: rgba(255, 255, 255, 0.3);
  height: 0.4% !important;
  top: 87%;
}

.slider-text {
  /* padding: 2.5vh 2vh; */
}

#corridor_subheader {
  font-family: "Helvetica-Bold";
  color: white;
  margin: 0;
}

/* Formula: vw = (vh / 1.6) * 0.9 */

@media screen and (min-aspect-ratio: 16/9) {
  #corridor_subheader {
    font-size: 2.1vh;
  }
  #text-title {
    font-size: 6vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
  #text-description {
    font-size: 2vh;
    line-height: 2.5vh;
  }
  .slider-text h4 {
    font-size: 2.1vh;
  }
  .slider-text p {
    font-size: 1.7vh;
    line-height: 2.1vh;
    margin-top: 1vh;
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  #corridor_subheader {
    font-size: 1.1813vw;
  }
  .slider-text p {
    font-size: 0.956vw;
    line-height: 1.18125vw;
    margin-top: 0.563vw;
  }
  .dummy-slider {
    display: block;
  }
  #text-container {
    width: 30.9375vw;
  }
  #text-title {
    font-size: 3.375vw;
    margin-top: 0.563vw;
    margin-bottom: 1.688vw;
  }
  #text-description {
    font-size: 1.125vw;
    line-height: 1.406vw;
  }
  /* #text-details h5 {
        margin-bottom: 1.125vw;
        font-size: 1.181vw;
    } */

  #text-details {
    width: 25.3125vw;
  }
  .slider-text h4 {
    font-size: 1.18125vw;
  }

  .slider-text p {
    width: 18vw;
  }

  #back-to-home {
    width: 12.375vw;
    height: 3.375vw;
    margin-top: 2.138vw;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.688vw !important;
  }

  .swiper-pagination-corridor * {
    font-size: 1.125vw;
  }

  #video-popup-description p {
    margin: 1.125vw 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 3.375vw;
    height: 3.375vw;
  }

  #xray-popup-overlay .back-to-corridor,
  #xray-popup-overlay .next-btn {
    width: 13.5vw;
    height: 3.094vw;
  }

  #multi-image-popup-content {
    padding: 0 2.25vw;
  }
}

#item_container {
  /* display: block; */
  position: relative;
  /* width: 100vw; */
  /* max-width: 177.78vh; */
  height: 56.25vw;
  max-height: 100%;
  /* background-color: black; */
  /* background-image: url("img/_ref/ref_corridor.png"); */
  /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; */
  margin: 0 auto;
  z-index: 2;
  min-width: 660px;
  /* overflow: hidden; */
}

/* @media screen and (max-aspect-ratio: 17/10) {
    #item_container {
        margin-top: 5vh;
    }
}

@media screen and (max-aspect-ratio: 17/11) {
    #item_container {
        margin-top: 12vh;
    }
} */

@media all and (orientation: landscape) {
  #portrait-overlay {
    display: none;
  }
}

@media all and (orientation: portrait) {
  #portrait-overlay {
    display: block;
  }
}
